<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= name %> Detail</title>
</head>
<body>
<h1><%= name %> Detail</h1>
<a href="/admin/students/list">List Student</a>&nbsp;
<a href="/admin/students/create">Create Student</a>

<div>
    ID : <%= id%>
</div>

<div>
    Name : <%= name %>
</div>

<div>
    Email : <%= email %>
</div>
<div>
    <img src="https://res.cloudinary.com/dm39hjrnr/image/upload/c_pad,w_300,h_300/<%= imageUrl %>" alt="">
</div>
<div>
    Score : <%= score %>
</div>

<div>
    <a href="/admin/students/edit/<%=_id%>">Edit</a>&nbsp;
    <a href="#">Delete</a>
</div>
</body>
</html>