<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 id="book-heading">List Book</h1>
<a href="/admin/book/create">Create new</a>
<ul>
    <%for (var i = 0; i < listData.length; i++){%>
    <li class="data-item">
        <span><img src="https://res.cloudinary.com/dm39hjrnr/image/upload/c_pad,w_300,h_300/<%= listData[i].imageUrl %>"
                   alt="">
        </span>
        <span> <%=listData[i].name%> </span>
        <span>
            <a href="/admin/book/detail/<%= listData[i]._id%>">Detail</a>&nbsp;
            <a href="/admin/book/edit/<%= listData[i]._id%>">Edit</a>&nbsp;
            <a title="<%= listData[i]._id%>" class="btn-delete" href="#">Delete</a>&nbsp;
        </span>
    </li>
    <%}%>
</ul>
<div>
    <%
    if(parseInt(page) > 1){
    %>
    <span>
        <a href="/admin/book/list?page=<%=parseInt(page)-1%>&limit=<%=limit%>">
            <%= parseInt(page) - 1%></a>
    </span>
    <%
    }
    %>
    <span><%= page%></span>
    <%
    if(parseInt(page) < parseInt(totalPage)){
    %>
    <span>
        <a href="/admin/book/list?page=<%=parseInt(page)+1%>&limit=<%=limit%>">
            <%= parseInt(page) + 1%></a>
    </span>
    <%
    }
    %>
</div>
<script>
    var deleteBaseUrl = '/admin/book/delete/';
    var listBtnDelete = document.getElementsByClassName('btn-delete');
    for (var i = 0; i < listBtnDelete.length; i++) {
        listBtnDelete[i].onclick = function () {
            var requestUrl = deleteBaseUrl + this.title;
            if(confirm('Are you sure wanna delete this book?')){
                var xmlHttpRequest = new XMLHttpRequest();
                xmlHttpRequest.onreadystatechange = function(){
                    if(this.status == 200 && this.readyState == 4){
                        alert('Delete success');
                        location.reload();
                    }
                };
                xmlHttpRequest.open('POST', requestUrl, true);
                xmlHttpRequest.send();
            }
            return false
        }
    }
</script>
</body>
</html>